
#banner {
    background: url('../images/cinema-seats.jpeg') no-repeat;
    background-size: cover;
    height: 300px;

 }

#emblem {
    margin-left: 5px;
    color: white;
    float:left;
    font-size: 225%;
    background-color: grey;
    margin-top: 60px;
}



#nav-bar {
    right: 20px;
    padding: 50px 0 50px 0;
}

#nav-bar li {
    list-style: none;
    float: right;
    font-size: 150%;
    padding-right: 10px;
}

#nav-bar a {
    color: white;
    background-color: grey;
}

#welcome {
    color: white;
    text-align: bottom left;
    margin-left: 10px;
    max-width: 200px;
    background-color: grey;
}


#roses-image {
    width: 50%;
    height: 50%;
}



#girl-book {
    width: 50%;
    height: 50%;
}


#nuke {
    width: 50%;
    height: 50%;
}


.tile1 {
    margin: 0;
    background-color: rgb(155, 229, 147); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgba(155, 229, 147,0.75) );
    display: grid;
    grid-template-columns: 350px 350px 350px;
}

.tile1 p {
    color: white;
    text-align: bottom left;
    margin-left: 10px;
    max-width: 500px;
    background-color: grey;
}

.tile2 {
    background: linear-gradient(to top left, rgb(255, 255, 255), rgba(155, 229, 147,0.75) );
    margin: 0;
}

.tile2 p {
    color: white;
    text-align: bottom left;
    margin-left: 10px;
    max-width: 500px;
    background-color: grey;
    position: relative;
}

#dick {
    position: absolute;
    right: 20px;
    width: 20%;
}

.tile3 {
    margin: 0;
    height: 600px;
    background: linear-gradient(to top left, rgb(255, 255, 255), rgba(155, 229, 147,0.75) );
}


#meeting {
    max-width: 25%;
}