
#banner {
    background: url('../images/cinema-seats.jpeg') no-repeat;
    background-size: cover;
    height: 300px;

 }

#emblem {
    margin-left: 5px;
    color: white;
    float:left;
    font-size: 200%;
    background-color: grey;
    margin-top: 60px;
}



#nav-bar {
    right: 20px;
    padding: 50px 0 50px 0;
}

#nav-bar li {
    list-style: none;
    float: right;
    font-size: 150%;
}

#nav-bar a {
    color: white;
    background-color: grey;
}

#welcome {
    margin-top: 100px;
}

#meeting {
    max-width: 25%;
}